<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power of Hydrogen</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="head">
        <h2>Water Quality Check</h2><br>
        <h4>Enter pH value</h4>
    </div>

    <div class="form-container">
        <form method="POST" action="/">
            <div class="input-box">
                <input type="text" required placeholder=" " id="ph" name="ph" value="{{ ph_input }}">
                <label for="ph">pH Value</label>
                <button type="submit" class="btn">Check</button>
            </div>
        </form>

        {% if result %}
        <div style="text-align: center; color: white; margin-top: 20px;">
            <a href="https://ph-info-site.vercel.app/"  style="color: white; text-decoration: underline;"><h3>{{ result }}</h3></a>
        </div>
        {% endif %}
    </div>
</body>
</html>
